
.banner{
    padding-left: 50px;
    background-color: #15192C;
}

.title {
    color: #f1eded;
    font-size: 100px;
    
}
.subtitle {
    margin-top: 130px;
    color: #f1eded;
}
hr{
    border: 4px solid #edbc2a;
    width: 50%;
   opacity: 100%;
}
.bannerimg {
width: 100%;   
margin-top: 30px; 
}

.btn {
   background-color: #EDBC2A;
}
.chair {
    width: 400px;
}
.subheader {
    margin-top: 150px;
    font-size: 70px;
   
}
.third {
    margin-left: 150px;
}
.cop {
    font-size: 130px;
    letter-spacing: 0;
    font-weight: 900;
    padding: .10em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(7, 7, 7, 0.5);
    background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
   animation: aitf 80s linear infinite;
  }


  @media screen and (max-width: 900px) {
    .cop{
        font-size: 100px; 
    }
    .headertext {
        padding-top: 150px;
    }
  } 


